<h3>ユーザー新規作成</h3>

 <%= form_with model: @user do |f| %>
   <table>
     <tr>
       <th><%= f.label :name ,"ユーザー名" %></th>
       <td><%= f.text_field :name %></td>
     </tr>

     <tr>
       <th><%= f.label :email ,"メールアドレス" %></th>
       <td><%= f.text_field :email %></td>
     </tr>

     <tr>
       <th><%= f.label :age ,"パスワード" %></th>
       <td><%= f.text_field :password %></td>
     </tr>

     <tr>
       <th><%= f.label :introduction ,"パスワード確認" %></th>
       <td><%= f.text_field :confirmation%></td>
     </tr>
   </table>

   <div>
     <ul>
       <li><%= f.submit "新しいアカウントを作成する"%></li>
       <li><%= link_to "既にアカウントをお持ちの方はログイン", :users %></li>
     </ul>
   </div>
 <% end %>